$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small { // mobile
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl { // desktop
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "colors";

.chart-area-pandemic-one-year { // add the proper class here

  // type styles

  $font-stack: 'Avenir', 'Avenir Next', 'Arial', sans-serif;

  .chart-subhead {
      fill: $slate-secondary-6;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 20px;
      max-width: 600px;
  }

  .chart-title, .chart-title-social {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      // bottom margin should be 10px if there is no legend, or if the legend runs into the chart title
      margin-bottom: 10px;
      max-width: 560px;
      @include sm-md-xl {
          // set this only if there is a chart title + legend
          // margin-bottom: -33px;
      }
  }

  .chart-note {
      fill: $slate-secondary-5;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
      width: 80%;
      @include x-small() {
        min-height: 30px;
        width: 70%;
      }
  }

  .chart-source, .chart-credit {
      font-size: 9.5px;
      line-height: 12px;
      text-transform: uppercase;
      color: $slate-secondary-5;
      letter-spacing: 1px;
      width: 100%;
      @include sm-md-xl {
          width: 80%;
          font-size: 10px;
      }
  }

  .chart-credit {
      &:before {
          content: "Graphic: ";
      }
      @include sm-md-xl {
          padding-right: 10px;
      }
  }

  .chart-source {
      &:before {
          content: "Source: ";
      }
      float: left;
      @include x-small() {
        margin-bottom: 10px;
      }
      @include sm-md-xl {
          float: none;
          } 
  }

  .strong {
      font-weight: 600;
  }

  .highcharts-annotation-label {
      font-size: 14px;
      line-height: 18px;
      fill: $slate-secondary-5;
      & span {
          background-color: white;
          padding: 0 5px;
          @include x-small {
              background-color: rgba(#fff, .6)
          }
      }
  }

  @import "highcharts";

  // general chart styles

  box-sizing: border-box;

  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(https://fm-static.cnbc.com/awsmedia/chart/2019/6/10/grow_leaves.1562793463706.png);
  background-position: bottom right;
  max-width: 660px;
  margin-bottom: 25px;
  font-family: $font-stack;

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-container {
    width: 100%;
    height: 300px;
    margin-top: -10px;
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  // .highcharts-yaxis-labels {
  //   // use this to change the axis label
  //   & span:first-child {
  //     // transform: translate(10px,0) !important;
  //     &:after {
  //       content: "%";
  //   }
  //   }
  // }

  & #chart-container-pandemic-one-year-1, #chart-container-pandemic-one-year-8 {
    height: 400px;
    @include x-small {
      height: 420px;
    }

    .highcharts-color-0 {
      fill: $green-secondary-5;
      stroke: $green-secondary-5;
    }
    
    .highcharts-color-1 {
      fill: $slate-secondary-3;
      stroke: $slate-secondary-3;
    }
    
    .highcharts-color-2 {
      fill: $green-secondary-3;
      stroke: $green-secondary-3;
    }
    
    .highcharts-color-3 {
      fill: $green-secondary-5;
      stroke: $green-secondary-5;
      stroke-dasharray: 5;
    }

    .highcharts-color-4 {
      fill: $slate-secondary-3;
      stroke: $slate-secondary-3;
      stroke-dasharray: 5;
    }

    .highcharts-color-5 {
      fill: $green-secondary-3;
      stroke: $green-secondary-3;
      stroke-dasharray: 5;
    }

    .highcharts-axis-line {
      fill: none;
      stroke: none;
    }

    .highcharts-yaxis-grid {
      & path:nth-child(5) {
        stroke: $slate-secondary-5;
      }
    }

    .highcharts-legend-item {
      &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        display: none;
      }
    }

    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        transform: translate(10px,0) !important;
        &:after {
          content: "%";
      }
      }
    }
    
  }

  & #chart-container-pandemic-one-year-2, & #chart-container-pandemic-one-year-4 {
    .highcharts-color-0 {
      fill: $slate-secondary-3;
      stroke: $slate-secondary-3;
    }
    .highcharts-color-1 {
      fill: $purple-primary;
      stroke: $purple-primary;
    }
    .highcharts-color-2 {
      fill: $green-primary;
      stroke: $green-primary;
    }
    .highcharts-series.highcharts-color-0 rect {
      &:last-child {
        fill: darken($slate-secondary-2,8%);
        stroke: darken($slate-secondary-2,8%);
      }
    }
    .highcharts-series.highcharts-color-1 rect {
      &:last-child {
        fill: $purple-secondary-2;
        stroke: $purple-secondary-2;
      }
    }
    .highcharts-series.highcharts-color-2 rect {
      &:last-child {
        fill: $green-secondary-2;
        stroke: $green-secondary-2;
      }
    }
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:first-child {
        &:after {
          content: "%";
      }
      }
    }
  }

  & #chart-container-pandemic-one-year-3 {
    height: 350px;
    @include x-small(){
      height: 420px;
    }

    & .highcharts-axis {
      & text {
        font-size: 14px;
        fill: $slate-secondary-5;
      }
    }
  
    & .highcharts-label {
      path {
        stroke: $slate-secondary-5;
      }
    }

    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        transform: translate(10px,0);
        &:after {
          content: "%";
      }
      }
    }

    .highcharts-axis-line {
      fill: none;
      stroke: none;
    }

    .highcharts-xaxis-grid .highcharts-grid-line {
      stroke-width: 1px;
    }

    .highcharts-graph {
      stroke-width: 2px;
    }

    .highcharts-color-0 {
      fill: white;
    }

    .highcharts-point {
      stroke-width: 1;
    }
  }


  & #chart-container-pandemic-one-year-5 {
    .highcharts-axis-line {
      fill: none;
      stroke: none;
    }

    .highcharts-yaxis-grid {
      & path:nth-child(2) {
        stroke: $slate-secondary-5;
      }
    }
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        transform: translate(10px,0) !important;
        &:after {
          content: "%";
      }
      }
    }
  }

  & #chart-container-pandemic-one-year-6 {
    height: 350px;
    .highcharts-axis-line {
      fill: none;
      stroke: none;
    }

    .highcharts-yaxis-grid {
      & path:nth-child(5) {
        stroke: $slate-secondary-5;
      }
    }
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        transform: translate(10px,0) !important;
        &:after {
          content: "%";
      }
      }
    }
  }

  & #chart-container-pandemic-one-year-7 {
    .highcharts-lollipop-low {
      fill: $slate-secondary-4;
    stroke: $slate-secondary-4;
    }

    .highcharts-markers {
      stroke-width: 1px;
      stroke: #74c947;
    }

    .highcharts-yaxis-labels {
      & span:last-child {
        &:before {
          content: "$";
      }
      }
    }

    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        // transform: translate(0px,0) !important;
        &:before {
          content: "$";
      }
      }
    }
  }

  & #chart-container-pandemic-one-year-9 {
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        transform: translate(10px,0) !important;
        &:after {
          content: "%";
      }
      }
    }
  }

  & #chart-container-pandemic-one-year-10 {
    .highcharts-axis-line {
      fill: none;
      stroke: none;
    }

    .highcharts-yaxis-grid {
      & path:nth-child(3) {
        stroke: $slate-secondary-5;
      }
    }
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        transform: translate(50px,0) !important;
        background-color: white;
      padding-right: 10px;
        &:after {
          content: " billion";
      }
      &:before {
        content: "$";
    }
      }
    }
  }

  //  set this if the x-axis is not 0
  // .highcharts-axis-line {
  //   stroke-width: 0;
  // }

  // if 0 is in the middle of the chart, set its gridline to black
  // the nth-child number represents the grid line to be changed
  // IMPORTANT: if you set this, you MUST set the yAxis min, max and tickAmount in the JS
  // .highcharts-grid-line {
  //   &:nth-child(3) {
  //     stroke: black;
  //   }
  // }

  // add additional styles here

  
  
}

// uncomment this to make a social chart, then add the chart-area class in the social.scss partial
// @import "social";
